html {
  background: url('../img/bg.png') repeat, url('../img/sun.png') no-repeat top left, url('../img/horizontal-bush.png') repeat-x fixed bottom left, url('../img/vertical-bush.png') no-repeat fixed top right, url('../img/plant.png') fixed no-repeat bottom right, #487036;
  min-height: 100%;
}
body {
  font-family: 'Open Sans';
  color: #fff;
  line-height: 1.2;
  min-height: 100%;
}
a:link {
  color: #ffa500;
}
a:visited {
  color: orange;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
#page {
  min-height: 100%;
}
footer {
  min-height: 100%;
  padding-bottom: 5em;
}
#page-title {
  margin-bottom: 0;
}
#page-description {
  font-size: 1.2em;
  color: gray;
  margin-top: 0;
}
