<!doctype html>
<html lang="fi">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }} - Keski-Suomen nuori vihreä vaikuttaja -kurssi &mdash; Jyvioni ry</title>
	<meta name="author" content="{{ site.url }}/humans.txt"/>
	<meta name="viewport" content="width=device-width"/>
	
	<meta property="og:title" content="{{ page.title }} - {{ site.title }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	{% if page.image %}
	<meta property="og:image" content="{{ site.url }}/{{ page.image }}"/>
	{% else %}
	<meta property="og:image" content="{{ site.url }}/media/img/sun.png"/>
	{% endif %}
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:description" content="{{ page.description }}">
	
	<link rel="stylesheet" href="http://cdn.ypcs.fi/media/gen/common-91a69a57.css"/>
	<link href="http://fonts.googleapis.com/css?family=Average|Open+Sans:300" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ site.url }}/media/css/style.css"/>
	<script src="http://cdn.ypcs.fi/media/js/modernizr.custom.95715.js"></script>
</head>
<body>
	<div id="page">
		<header>
			<h1 id="page-title">Jyväskylän vihreät nuoret ja opiskelijat - Jyvioni ry</h1>
			<h2 id="page-description">Keski-Suomen nuori vihreä vaikuttaja -kurssi</h2>
		</header>
		
		<div id="main">
			<hgroup>
				<h1>{{ page.title }}</h1>
				{% if page.description %}
				<h2>{{ page.description }}</h2>
				{% endif %}
			</hgroup>
			<div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>
			
			{{ content }}
			
			<div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>
		</div>
		
		<footer>
			<!-- TODO: Jyvioni, ViNO, ViSiO, Vihreä liitto -logot -->
			<p class="small quiet">Kurssin järjestää <a href="http://www.jyvioni.org/">Jyväskylän vihreät nuoret ja opiskelijat - Jyvioni ry</a> &middot; Kurssin järjestämistä tukemassa on Vihreä sivistysliitto ry ja <a href="http://www.visili.fi/">Opintokeskus Visio</a></p>
			<p class="small quiet"><a href="https://github.com/ypcs/jyvioni-nvv">GitHub</a></p>
		</footer>
	</div>
	<script src="http://cdn.ypcs.fi/media/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20911464-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&appId=479137325447561";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
